<div class="row">
    <h1>Listagem de Produtos</h1>
</div>
<div class="row mb-2">
    <div class="col-md-2">
        <button class="btn btn-block btn-primary" (click)="insertService.showModal()">Novo Produto</button>
    </div>
    <div class="col-md-10">
        <product-search-form (onSearch)="search($event)"></product-search-form>
    </div>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 3%" [sortColumn]="sortColumn" columnName="id" (onSort)="onSort($event)">ID</th>
            <th style="width: 40%" [sortColumn]="sortColumn" columnName="name" (onSort)="onSort($event)">Nome</th>
            <th style="width: 10%" [sortColumn]="sortColumn" columnName="stock" (onSort)="onSort($event)">Estoque</th>
            <th style="width: 10%" [sortColumn]="sortColumn" columnName="price" (onSort)="onSort($event)">Preço</th>
            <th style="width: 5%">Ativo?</th>
            <th style="width: 12%" [sortColumn]="sortColumn" columnName="created_at" (onSort)="onSort($event)">Criado
                Em
            </th>
            <th style="width: 20%">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of items | paginate: {itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: pagination.totalItems}">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.stock}}</td>
            <td>{{product.price | numberFormatBr}}</td>
            <td class="text-center">
                <i class="fas" [ngClass]="{'fa-check': product.active, 'fa-times': !product.active}"></i>
            </td>
            <td>{{product.created_at | date: 'dd/MM/yyyy'}}</td>
            <td>
                <a href="javascript:void(0)" (click)="editService.showModal(product.id)">
                    <i class="fas fa-edit"></i>
                </a> |
                <a href="javascript:void(0)" (click)="deleteService.showModal(product.id)">
                    <i class="fas fa-trash-alt"></i>
                </a> |
                <a [routerLink]="['/products', product.id, 'photos', 'list']">
                    <i class="fas fa-camera-retro"></i>
                </a> |
                <a [routerLink]="['/products', product.id, 'categories', 'list']">
                    Categorias
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior"
                         nextLabel="Próxima"></pagination-controls>
</div>
<product-new-modal (onError)="insertService.onError($event)"
                   (onSuccess)="insertService.onSuccess($event)"></product-new-modal>
<product-edit-modal [productId]="productId" (onError)="editService.onError($event)"
                    (onSuccess)="editService.onSuccess($event)"></product-edit-modal>
<product-delete-modal [productId]="productId" (onError)="deleteService.onError($event)"
                      (onSuccess)="deleteService.onSuccess($event)"></product-delete-modal>