<div class="form-group">
    <label [for]="product_id.id">{{product_id.label}}</label>
    <!--<input type="number" [id]="product_id.id" class="form-control" formControlName="product_id" isInvalid required>-->
    <product-id-autocomplete [productIdFormControl]="form.get('product_id')"></product-id-autocomplete>
    <field-error [field]="form.get('product_id')" [label]="product_id.label"></field-error>
</div>
<div class="form-group" [formGroup]="form">
    <label [for]="amount.id">{{amount.label}}</label>
    <input type="number" step="1" [id]="amount.id" class="form-control" formControlName="amount" isInvalid>
    <field-error [field]="form.get('amount')" [label]="amount.label"
                 [messages]="amount.validationMessage"></field-error>
</div>
