<form (submit)="submit()">
    <div class="row">
        <div class="col-auto">
            <label for="categories[]">Categorias</label>
        </div>
        <div class="col">
            <select class="custom-select" name="categories[]" id="categories[]" multiple [(ngModel)]="categoriesId">
                <option *ngFor="let category of categories" [ngValue]="category.id">{{category.name}}</option>
            </select>
        </div>
        <div class="col">
            <label></label>
            <button class="btn btn-primary"> Incluir categorias</button>
        </div>
    </div>
</form>