<div class="row">
  <h1>Listagem de Entradas de Estoque</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <td>
        <button class="btn btn-primary" (click)="insertService.showModal()">Nova Entrada</button>
      </td>
      <td colspan="4">
        <product-input-search-form (onSearch)="search($event)"></product-input-search-form>
      </td>
    </tr>
    <tr>
      <th style="width: 5%" [sortColumn]="sortColumn" columnName="id" (onSort)="getItems($event)">
        ID
      </th>
      <th style="width: 65%" [sortColumn]="sortColumn" columnName="product_name" (onSort)="getItems($event)">
        Produto
      </th>
      <th style="width: 8%">
        Quant.
      </th>
      <th style="width: 12%" [sortColumn]="sortColumn" columnName="created_at" (onSort)="getItems($event)">
        Criado Em
      </th>
      <th style="width: 10%">
        Ações
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let input of inputs | paginate: {itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: pagination.totalItems}">
      <td>{{input.id}}</td>
      <td>{{input.product.name}}</td>
      <td>{{input.amount}}</td>
      <td>{{input.created_at | date: 'dd/MM/yyyy'}}</td>
      <td>
        &nbsp;
      </td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior"
                       nextLabel="Próxima"></pagination-controls>
</div>

<product-input-new-modal (onError)="insertService.onError($event)"
                         (onSuccess)="insertService.onSuccess($event)"></product-input-new-modal>