<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">{{title}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" [routerLink]="['/categories/list']">Categorias</a>
                    <a class="nav-item nav-link" [routerLink]="['/products/list']">Produtos</a>
                    <a class="nav-item nav-link" [routerLink]="['/users/list']">Usuários</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</main>

