<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>306798448174-uhjmt66p6dhdo953o74ii5i93b2hpe46.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306798448174-uhjmt66p6dhdo953o74ii5i93b2hpe46</string>
	<key>API_KEY</key>
	<string>AIzaSyCuK4rZE4WZ2t1cpWLekkXMKu7ehGWJM-A</string>
	<key>GCM_SENDER_ID</key>
	<string>306798448174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.gg2.codeshopping</string>
	<key>PROJECT_ID</key>
	<string>codeshopping-bf979</string>
	<key>STORAGE_BUCKET</key>
	<string>codeshopping-bf979.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306798448174:ios:532e6fdf3ebfda88</string>
	<key>DATABASE_URL</key>
	<string>https://codeshopping-bf979.firebaseio.com</string>
</dict>
</plist>