<div class="row">
    <h1>Listagem de Saídas de Estoque</h1>
</div>
<div class="row mb-2">
    <div class="col-md-2">
        <button class="btn btn-block btn-primary" (click)="insertService.showModal()">Nova Saída</button>
    </div>
    <div class="col-md-10">
        <product-output-search-form (onSearch)="search($event)"></product-output-search-form>
    </div>
</div>
<div class="row">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 5%" [sortColumn]="sortColumn" columnName="id" (onSort)="onSort($event)">
                ID
            </th>
            <th style="width: 65%" [sortColumn]="sortColumn" columnName="product_name" (onSort)="onSort($event)">
                Produto
            </th>
            <th style="width: 10%">
                Quant.
            </th>
            <th style="width: 20%" [sortColumn]="sortColumn" columnName="created_at" (onSort)="onSort($event)">
                Criado Em
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let output of outputs | paginate: {itemsPerPage: pagination.itemsPerPage, currentPage: pagination.page, totalItems: pagination.totalItems}">
            <td>{{output.id}}</td>
            <td>{{output.product.name}}</td>
            <td>{{output.amount}}</td>
            <td>{{output.created_at | date: 'dd/MM/yyyy'}}</td>
        </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="pageChanged($event)" previousLabel="Anterior"
                         nextLabel="Próxima"></pagination-controls>
</div>

<product-output-new-modal (onError)="insertService.onError($event)"
                          (onSuccess)="insertService.onSuccess($event)"></product-output-new-modal>